<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Default suite" parallel="methods" verbose="3">
     <listeners>
        <listener class-name="src.main.java.com.demo.listener.TestListener" />
    </listeners>
     <test name=" First test" skipfailedinvocationcounts="false">
         <classes>
             <class name="src.test.java.com.demo.project.HomePageTest">             
             </class>
         </classes>
     </test>
</suite>
